/* generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}


/* header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    height: 100px;
    top: 0;
    width: 100%;
    background-color: #FF6900;
    color: white;
}

.nav-bar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-weight: bold;
}

/* container */
.container {
    width: 80%;
    margin: 200px auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.col {
    width: calc((100% / 3) - (100px / 3));
    min-height: 250px;
}

.card {
    position: relative;
}

.card img {
    max-width: 100%;
}

.cuore {
    background-color: white;
    position: absolute;
    padding: 3px 14px;
    right: 0;
    top: 10px;
    font-size: 35px;
}

.discount-label {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 3px;
}

.sustainability-label {
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 3px;  
}

.two-labels ,
.one-label {
    position: absolute;
    bottom: 40px;
    left: 0;
}

.card .change-image {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50% , -50%);
}

.card:hover .change-image {
    display: block;
}

.brand {


}

.name {
    font-weight: bold;
    line-height: 1.3;

}

.discounted {
    color: red;
    font-weight: bold;
}

.full {
    text-decoration: line-through;
}



/* footer */
.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* debug */
    background-color: burlywood;
}

.nav-footer {
    width: 80%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    

/* debug*/
background-color: chocolate;
}